SECRET_KEY = your-django-secret-key
EBIRD_API_KEY = your-ebird-secret-key
# https://documenter.getpostman.com/view/664302/S1ENwy59

# GEOIP_DATA_PATH=/path/to/your/geoip/data
OPEN_WEATHER_KEY = your-openweather-secret-key

XENO_API_KEY=your-xenocanto-secret-key