__pycache__/
*.py[cod]
migrations/
passarinhar/__pycache__/admin.cpython-312.pyc
passarinhar/__pycache__/forms.cpython-312.pyc
passarinhar/__pycache__/models.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
passarinhar/migrations/0010_tabfamily.py
passarinhar/migrations/__pycache__/0010_tabfamily.cpython-312.pyc
passarinhar/migrations/__pycache__/0011_remove_tabfamily_pt_pt_tabfamily_pt_br.cpython-312.pyc
passarinhar/migrations/__pycache__/0011_rename_pt_pt_tabfamily_pt_br.cpython-312.pyc
passarinhar/migrations/__pycache__/0011_speciestaxonomy.cpython-312.pyc
passarinhar/migrations/__pycache__/0012_spice_taxon_order.cpython-312.pyc
passarinhar/migrations/0011_speciestaxonomy.py
passarinhar/migrations/0012_spice_taxon_order.py
passarinhar/__pycache__/admin.cpython-312.pyc
passarinhar/__pycache__/forms.cpython-312.pyc
passarinhar/__pycache__/models.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
passarinhar/migrations/0013_alter_spice_url_spice_img_and_more.py
passarinhar/migrations/__pycache__/0013_alter_spice_url_spice_img_and_more.cpython-312.pyc
passarinhar/__pycache__/urls.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
passarinhar/__pycache__/urls.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
Passarinhando/__pycache__/settings.cpython-312.pyc
Passarinhando/__pycache__/settings.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
media/spice_images/remote_besourinho-de-bico-vermelho.jpg
media/spice_images/remote_tesourinha-da-mata.jpg
media/thumbnails/spice_images/remote_besourinho-de-bico-vermelho_small.jpg
media/thumbnails/spice_images/remote_tesourinha-da-mata_small.jpg
passarinhar/__pycache__/ai_utils.cpython-312.pyc
passarinhar/__pycache__/forms.cpython-312.pyc
passarinhar/__pycache__/urls.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
passarinhar/__pycache__/forms.cpython-312.pyc
passarinhar/__pycache__/urls.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
passarinhar/__pycache__/forms.cpython-312.pyc
passarinhar/__pycache__/urls.cpython-312.pyc
passarinhar/__pycache__/views.cpython-312.pyc
