{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Passarinhar{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'passarinhar/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="#">

    <script src="{% static 'passarinhar/geoloc.js' %}"></script>
</head>

<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Passarinhar</a>

        <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="user" href="{% url 'passarinhar:profile' user.username %}"><strong>
                            {{user.username }}</strong></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'passarinhar:recents' %}">Avistamentos recentes
                        <span id="crnt-lat"></span>
                        <span id="crnt-lon"></span></a>
                </li>
                <li class="nav-item">
                    <a id="allpost" class="nav-link" href="{% url 'passarinhar:index' %}">Todas as Postagens</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a id="following" class="nav-link" href="{% url 'passarinhar:following' %}">Seguindo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'passarinhar:logout' %}">Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'passarinhar:login' %}">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'passarinhar:register' %}">Cadastrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container body">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>