{% extends "passarinhar/layout.html" %}
{% load static %}

{% block body %}
<h2 id="page-title">{{ title }}</h2>

{% if error %}
<div id='error-msg' class='alert alert-warning'>{{ error }}</div>
{% else %}
<div id='error-msg' class='alert alert-warning' style="display:none;" ;></div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{form.as_p}}
    </div class="form-group">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Procurar</button>
    </div>     
</form>
{% if hotspots_nearby_data %}
<div class='container'>
    <div id="nearby_map_id" class="my-2 p-2 bg-light border border-secondary">
        <h2 id="folium_map">Mapa</h2>
        {{ nearby_map|safe }}
    </div>
    {% for local in hotspots_nearby_data.data %}
    <div class="p-1 my-1 bg-white text-dark border border-secondary">
        <h3 id="name{{forloop.counter0}}">{{local.locName}}</h3>
        <div id="coords{{forloop.counter0}}">Coords:
            <span id="lat{{forloop.counter0}}">{{local.lat}}</span>-
            <span id="lon{{forloop.counter0}}">{{local.lng}}</span>
        </div>
            
        {% if user.is_authenticated  %}
            {% csrf_token %}
            <button id="{{ forloop.counter0 }}" type="submit" class="save-button button">Salvar local</button>
         {% endif %}                                        
        <ul>
            <li>Id. do local: <span id="locId{{forloop.counter0}}">{{local.locId}}</span></li>
            <li>Código da região: <span id="subnational2Code{{forloop.counter0}}">{{ local.subnational2Code}}</li>
            <li>Última Observação:<span id="latestObsDt{{forloop.counter0}}">{{local.latestObsDt}}</span></li>
            <li>Total Especies: <span id="numSpeciesAllTime{{forloop.counter0}}">{{local.numSpeciesAllTime}}</span></li>  
        </ul>
        <div id="recent-obs{{local.locId}}">
            <!--https://api.ebird.org/v2/data/obs/L10838731/recent-->
            <a href = "{% url 'passarinhar:localrecents' local.lat local.lng %}">Avistamentos recentes</a>
        </div>            
    </div>
    {% endfor %}    
</div>
{% endif %}
{% block script %}
    <script type="module"src="{% static 'passarinhar/geoloc.js' %}"></script> 
    {% if user.is_authenticated  %}
        <script src="{% static 'passarinhar/locals.js' %}"></script>
    {% endif %}     
{% endblock %}

{% endblock %}
