{% extends "passarinhar/layout.html" %}
{% load static %}
{% load querystring_tag %}
{% block body %}
<h2 id="page-title">{{ title }}</h2>

{% if error %}
<div id='error-msg' class='alert alert-warning'>{{ error }}</div>
{% else %}
<div id='error-msg' class='alert alert-warning' style="display:none;" ;></div>
{% endif %}

{% if type_page == 'recentes' %}
<form method="get">
    {% csrf_token %}
    <div class="form-group">
        {{form.as_p}}
    </div class="form-group">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
</form>
{% else %}
<div class="container">
    <a href="javascript:void(0);" onclick="goBack()">Voltar</a>
</div>
{% endif %}

{% if page_obj %}
<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{% querystring source_data=form.cleaned_data page=1 %}">
                <span aria-hidden="true">&laquo;</span>Primeira</a>
        </li>
        <li class="page-item"><a class="page-link"
                href="{% querystring source_data=form.cleaned_data page=page_obj.previous_page_number %}">
                {{page_obj.previous_page_number}}</a>
        </li>
        {%endif %}

        <li class="page-item  active" aria-current="page"><a class="page-link"
                href="{% querystring source_data=form.cleaned_data page=page_obj.number %}">
                {{page_obj.number}}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="{% querystring source_data=form.cleaned_data page=page_obj.next_page_number %}">
                {{page_obj.next_page_number}}</a>
        </li>
        <li class="page-item"><a class="page-link"
                href="{% querystring source_data=form.cleaned_data page=page_obj.paginator.num_pages %}">
                Última<span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>

</nav>
{% endif %}

{% if page_obj %}
{% for recent_observation in page_obj %}
<div class="row p-1 my-1 bg-white text-dark border border-secondary">
    <div id="spice-div{{ forloop.counter0 }}" style="display:block" class="col-lg-4 col-md-3 col-sm-6 col-xs-12 my-1">
        <h3 id="name{{ forloop.counter0 }}">{{recent_observation.comName}}</h3>
        <ul>
            <li>Nome científico: <span id="sciName{{ forloop.counter0 }}">{{ recent_observation.sciName }}</span></li>
            <li>Código da espécie: <span
                    id="speciesCode{{ forloop.counter0 }}">{{recent_observation.speciesCode}}</span></li>
            <li>Data da observação: <span id="obsDt{{ forloop.counter0 }}">{{ recent_observation.obsDt }}</span></li>
            <li>Local: <span id="locName{{ forloop.counter0 }}">{{recent_observation.locName}}</span></li>
            <li>Quantidade: <span id="howMany{{ forloop.counter0 }}">{{recent_observation.howMany}}</span></li>
        </ul>
        {% if user.is_authenticated %}
        <button id="{{ forloop.counter0 }}" type="submit" class="save-button btn btn-info">Salvar especie
        </button>
        {% endif %}
    </div>
    {% csrf_token %}
    <div class="col-lg-8 col-md-9 col-sm-6 col-xs-12 p-3">
        <img class='img-responsive bird-img' id={{recent_observation.comName}} src=""
            alt="{{ recent_observation.sciName }}">
    </div>

</div>
{% empty %}
<div>*** Nenhuma observação encontrada ***</div>
{% endfor %}
{% endif %}

{% block script %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script type="module" src="{% static 'passarinhar/recents.js' %}"></script>
{% endblock %}

{% endblock %}