{% extends "passarinhar/layout.html" %}
{% load static %}
{% load l10n %}
{% block body %}
{% if message %}
{% if updated %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% else %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endif %}
{% endif %}
<h2>{{ title }}</h2>
<div class="p-1 my-1 row bg-white text-dark border border-secondary">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#" onclick="history.back(); return false;">Voltar</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% if user.is_authenticated and user == sighting.birder %}
        <div class="form-group">
            <form action="{% url 'passarinhar:edit_sighting' sighting.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Salvar">
                <a class="btn btn-secondary" href="{% url 'passarinhar:sighting' sighting.id %}">Cancelar</a>
                <a class="btn btn-danger" href="{% url 'passarinhar:delete_sighting' sighting.id %}">Deletar</a>
            </form>
        </div>
        {% else %}
        <div class="details">
            {{ sighting.common_name }}
            {{ sighting.description |linebreaksbr }}
            <div class="info">
                {{ sighting.place }}
                {{ sighting.birder }}
                {{ sighting.date_created }}
            </div>
        </div>
        {% endif %}
        <div id="map" class="p-1 my-1">
            {{ home_map|safe }}
        </div>
        <div style="display:none">
            <span id="comname{{sighting.spice.id}}">{{sighting.spice.name}}</span>
            <span id="sciname{{sighting.spice.id}}">{{sighting.spice.scientific_name}}</span>
        </div>
        <div id="wiki-summary-text"></div>
        <div id="player{{sighting.spice.spice_code}}"></div>
        <!-- The Modal Structure -->
        <!--div class="modal fade" id="wikiModal" tabindex="-1" role="dialog"-->
        <div class="modal" id="wikiModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="wikiModalLabel">Wikidata</h5>
                    </div>
                    <div class="modal-body" id="wikiModalText">Carregando...</div>
                </div>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
        </div>
    </div>
    <div class="spice col-lg-6 col-md-9 col-sm-6 col-xs-12" id='{{sighting.spice.id}}'>
        {% include 'passarinhar/components/spice_card.html' with spice=sighting.spice %}
    </div>

</div>

{% block script %}
<script type="module" src="{% static 'passarinhar/sighting.js' %}"></script>
{% endblock %}
{% endblock %}